In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('ukTrafficAADF.csv')

In [4]:
df.columns = df.columns.str.lower()

In [5]:
df.isna().sum()

aadfyear                          0
cp                                0
estimation_method             37573
estimation_method_detailed    37573
region                            0
localauthority                    0
road                              0
roadcategory                      0
easting                           0
northing                          0
startjunction                   256
endjunction                     238
linklength_km                     0
linklength_miles                  0
pedalcycles                       0
motorcycles                       0
carstaxis                         0
busescoaches                      0
lightgoodsvehicles                0
v2axlerigidhgv                    0
v3axlerigidhgv                    0
v4or5axlerigidhgv                 0
v3or4axleartichgv                 0
v5axleartichgv                    0
v6ormoreaxleartichgv              0
allhgvs                           0
allmotorvehicles                  0
lat                               0
lon                               0
dtype: int64

In [6]:
df['estimation_method'].value_counts(dropna=False)

estimation_method
Estimated    175404
Counted       62408
NaN           37573
Name: count, dtype: int64

In [7]:
df1 = df[df['estimation_method'].isnull()]
df1['region'].value_counts(dropna=False)

region
South East    37573
Name: count, dtype: int64

In [8]:
df['estimation_method'] = df['estimation_method'].fillna('SouthEast-Undisclosed')
df['estimation_method_detailed'] = df['estimation_method_detailed'].fillna('SouthEast-Undisclosed')

In [9]:
df.shape

(275385, 29)

In [10]:
df.dropna(subset=['startjunction'],inplace=True)
df.dropna(subset=['endjunction'],inplace=True)

In [11]:
df.isna().sum()

aadfyear                      0
cp                            0
estimation_method             0
estimation_method_detailed    0
region                        0
localauthority                0
road                          0
roadcategory                  0
easting                       0
northing                      0
startjunction                 0
endjunction                   0
linklength_km                 0
linklength_miles              0
pedalcycles                   0
motorcycles                   0
carstaxis                     0
busescoaches                  0
lightgoodsvehicles            0
v2axlerigidhgv                0
v3axlerigidhgv                0
v4or5axlerigidhgv             0
v3or4axleartichgv             0
v5axleartichgv                0
v6ormoreaxleartichgv          0
allhgvs                       0
allmotorvehicles              0
lat                           0
lon                           0
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 275094 entries, 0 to 275384
Data columns (total 29 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   aadfyear                    275094 non-null  int64
 1   cp                          275094 non-null  int64
 2   estimation_method           275094 non-null  object
 3   estimation_method_detailed  275094 non-null  object
 4   region                      275094 non-null  object
 5   localauthority              275094 non-null  object
 6   road                        275094 non-null  object
 7   roadcategory                275094 non-null  object
 8   easting                     275094 non-null  int64
 9   northing                    275094 non-null  int64
 10  startjunction               275094 non-null  object
 11  endjunction                 275094 non-null  object
 12  linklength_km               275094 non-null  float64
 13  linklength_miles            275094 non-null  float64
 14  pedalcycles                 275094 non-null  int64
 15  motorcycles                 275094 non-null  int64
 16  carstaxis                   275094 non-null  int64
 17  busescoaches                275094 non-null  int64
 18  lightgoodsvehicles          275094 non-null  int64
 19  v2axlerigidhgv              275094 non-null  int64
 20  v3axlerigidhgv              275094 non-null  int64
 21  v4or5axlerigidhgv           275094 non-null  int64
 22  v3or4axleartichgv           275094 non-null  int64
 23  v5axleartichgv              275094 non-null  int64
 24  v6ormoreaxleartichgv        275094 non-null  int64
 25  allhgvs                     275094 non-null  int64
 26  allmotorvehicles            275094 non-null  int64
 27  lat                         275094 non-null  float64
 28  lon                         275094 non-null  float64
dtypes: float64(4), int64(17), object(8)
memory usage: 63.0+ MB

In [21]:
df.to_csv('AADF_cleaned')

In [23]:
import pymysql                        # for getting data from a SQL database
from sqlalchemy import create_engine  # for establishing the connection and authentication

from getpass import getpass  # To get the password without showing the input

In [24]:
password = getpass()

········

In [25]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/uk_traffic_flow_and_accidents'
engine = create_engine(connection_string)

In [26]:
df.to_sql("aadf", engine, if_exists="replace", index=False)

C:\Users\Kevin\AppData\Local\Temp\ipykernel_21848\3577440160.py:1: UserWarning: The provided table name 'AADF' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql("AADF", engine, if_exists="replace", index=False)

275094

In [14]:
df.columns

Index(['aadfyear', 'cp', 'estimation_method', 'estimation_method_detailed',
       'region', 'localauthority', 'road', 'roadcategory', 'easting',
       'northing', 'startjunction', 'endjunction', 'linklength_km',
       'linklength_miles', 'pedalcycles', 'motorcycles', 'carstaxis',
       'busescoaches', 'lightgoodsvehicles', 'v2axlerigidhgv',
       'v3axlerigidhgv', 'v4or5axlerigidhgv', 'v3or4axleartichgv',
       'v5axleartichgv', 'v6ormoreaxleartichgv', 'allhgvs', 'allmotorvehicles',
       'lat', 'lon'],
      dtype='object')